# Домашнее задание к лекции "Поиск выбросов и генерация новых признаков" обновленное

Задачи:

Взять датасет

Провести EDA с упором на пропущенные значения и выбросы

Обучить простую модель несколько раз (см. ниже) и сравнить качество.

При обучении модели постепенно фильтровать выбросы и заполнять пропуски. При фильтрации выбросов и заполнении пропусков при необходимости обосновывать выбранные методы.

Сгенерировать не менее новых 5 признаков (генерация с помощью PolynomialFeatures считать как один признак) и обучить модель после каждого добавления нового признака для контроля качества.

Построить изменения качества график качества модели на каждом шаге (после обработки каждого признака и после каждого добавления нового признака)

Используйте столбцы
[‘full_sq’, ‘life_sq’, ‘floor’, ‘max_floor’, ‘material’, ‘build_year’, ‘num_room’, ‘kitch_sq’, ‘state’, ‘area_m’, ‘raion_popul’, ‘green_zone_part’, ‘indust_part’, ‘preschool_education_centers_raion’, ‘school_education_centers_raion’, ‘hospital_beds_raion’, ‘healthcare_centers_raion’, ‘sport_objects_raion’, ‘additional_education_raion’, ‘shopping_centers_raion’, ‘office_raion’, ‘ID_metro’, ‘metro_min_walk’, ‘kindergarten_km’, ‘school_km’, ‘park_km’, ‘green_zone_km’, ‘industrial_km’, ‘water_km’, ‘mkad_km’, ‘ttk_km’, ‘sadovoe_km’, ‘bulvar_ring_km’, ‘kremlin_km’, ‘ts_km’, ‘big_market_km’,‘market_shop_km’, ‘fitness_km’, ‘university_km’, ‘workplaces_km’, ‘shopping_centers_km’, ‘office_km’, ‘additional_education_raion’, ‘preschool_km’, ‘price_doc’

In [1]:
%matplotlib inline
import numpy as np
from sklearn.covariance import EllipticEnvelope
from sklearn.svm import OneClassSVM
import matplotlib.pyplot as plt
import matplotlib.font_manager
from sklearn.datasets import load_wine
from sklearn import svm
import numpy as np
from sklearn.ensemble import IsolationForest
import pandas as pd
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import warnings

In [2]:
data = pd.read_csv('C:/Users/User/Desktop/ФГУП НТЦ РХБГ 2022/Другое/Data Science 2022/HW/Python/ML/HW8/train.csv', usecols=['full_sq', 'life_sq', 'floor', 'max_floor', 'material', 'build_year', 'num_room', 'kitch_sq',
'state', 'area_m', 'raion_popul', 'green_zone_part', 'indust_part', 'preschool_education_centers_raion',
'school_education_centers_raion', 'hospital_beds_raion', 'healthcare_centers_raion', 'sport_objects_raion',
'additional_education_raion', 'shopping_centers_raion', 'office_raion', 'ID_metro', 'metro_min_walk', 'kindergarten_km',
'school_km', 'park_km', 'green_zone_km', 'industrial_km', 'water_km', 'mkad_km', 'ttk_km', 'sadovoe_km', 'bulvar_ring_km',
'kremlin_km', 'ts_km', 'big_market_km','market_shop_km', 'fitness_km', 'university_km', 'workplaces_km', 'shopping_centers_km',
'office_km', 'additional_education_raion', 'preschool_km', 'price_doc'])

col = ['full_sq', 'life_sq', 'floor', 'max_floor', 'material', 'build_year', 'num_room', 'kitch_sq',
'state', 'area_m', 'raion_popul', 'green_zone_part', 'indust_part', 'preschool_education_centers_raion',
'school_education_centers_raion', 'hospital_beds_raion', 'healthcare_centers_raion', 'sport_objects_raion',
'additional_education_raion', 'shopping_centers_raion', 'office_raion', 'ID_metro', 'metro_min_walk', 'kindergarten_km',
'school_km', 'park_km', 'green_zone_km', 'industrial_km', 'water_km', 'mkad_km', 'ttk_km', 'sadovoe_km', 'bulvar_ring_km',
'kremlin_km', 'ts_km', 'big_market_km','market_shop_km', 'fitness_km', 'university_km', 'workplaces_km', 'shopping_centers_km',
'office_km', 'additional_education_raion', 'preschool_km']

data.head()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,area_m,...,ts_km,big_market_km,market_shop_km,fitness_km,university_km,workplaces_km,shopping_centers_km,office_km,preschool_km,price_doc
0,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,6.407578e+06,...,4.308127,10.814172,1.676258,0.485841,6.715026,0.884350,0.648488,0.637189,0.177975,5850000
1,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,9.589337e+06,...,0.725560,6.910568,3.424716,0.668364,1.852560,0.686252,0.519311,0.688796,0.273345,6000000
2,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.808270e+06,...,3.562188,5.752368,1.375443,0.733101,0.841254,1.510089,1.486533,1.543049,0.158072,5700000
3,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,1.258354e+07,...,0.583025,27.892717,0.811275,0.623484,10.903161,0.622272,0.599914,0.934273,0.236455,13100000
4,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,8.398461e+06,...,2.609420,9.155057,1.969738,0.220288,0.991683,0.892668,0.429052,0.077901,0.376838,16331452

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   full_sq                            30471 non-null  int64
 1   life_sq                            24088 non-null  float64
 2   floor                              30304 non-null  float64
 3   max_floor                          20899 non-null  float64
 4   material                           20899 non-null  float64
 5   build_year                         16866 non-null  float64
 6   num_room                           20899 non-null  float64
 7   kitch_sq                           20899 non-null  float64
 8   state                              16912 non-null  float64
 9   area_m                             30471 non-null  float64
 10  raion_popul                        30471 non-null  int64
 11  green_zone_part                    30471 non-null  float64
 12  indust_part                        30471 non-null  float64
 13  preschool_education_centers_raion  30471 non-null  int64
 14  school_education_centers_raion     30471 non-null  int64
 15  hospital_beds_raion                16030 non-null  float64
 16  healthcare_centers_raion           30471 non-null  int64
 17  sport_objects_raion                30471 non-null  int64
 18  additional_education_raion         30471 non-null  int64
 19  shopping_centers_raion             30471 non-null  int64
 20  office_raion                       30471 non-null  int64
 21  ID_metro                           30471 non-null  int64
 22  metro_min_walk                     30446 non-null  float64
 23  kindergarten_km                    30471 non-null  float64
 24  school_km                          30471 non-null  float64
 25  park_km                            30471 non-null  float64
 26  green_zone_km                      30471 non-null  float64
 27  industrial_km                      30471 non-null  float64
 28  water_km                           30471 non-null  float64
 29  mkad_km                            30471 non-null  float64
 30  ttk_km                             30471 non-null  float64
 31  sadovoe_km                         30471 non-null  float64
 32  bulvar_ring_km                     30471 non-null  float64
 33  kremlin_km                         30471 non-null  float64
 34  ts_km                              30471 non-null  float64
 35  big_market_km                      30471 non-null  float64
 36  market_shop_km                     30471 non-null  float64
 37  fitness_km                         30471 non-null  float64
 38  university_km                      30471 non-null  float64
 39  workplaces_km                      30471 non-null  float64
 40  shopping_centers_km                30471 non-null  float64
 41  office_km                          30471 non-null  float64
 42  preschool_km                       30471 non-null  float64
 43  price_doc                          30471 non-null  int64
dtypes: float64(33), int64(11)
memory usage: 10.2 MB

In [4]:
data['life_sq'].value_counts()

19.0     2138
30.0     1565
18.0     1544
20.0     1208
28.0     1067
         ...
143.0       1
145.0       1
435.0       1
157.0       1
458.0       1
Name: life_sq, Length: 175, dtype: int64

In [5]:
data['life_sq'].mode()

0    19.0
dtype: float64

In [6]:
data['life_sq'] = data['life_sq'].fillna(data['life_sq'].mode())

In [7]:
data['floor'].value_counts()

3.0     3028
2.0     2874
5.0     2752
4.0     2609
1.0     2002
7.0     1966
6.0     1878
9.0     1843
8.0     1830
12.0    1341
10.0    1307
11.0    1262
14.0    1001
13.0     918
16.0     811
17.0     795
15.0     747
18.0     231
19.0     212
20.0     180
22.0     173
21.0     138
23.0     125
25.0     104
24.0     100
32.0      14
26.0      14
0.0        9
27.0       7
28.0       6
30.0       6
31.0       5
29.0       3
34.0       3
36.0       2
37.0       2
44.0       2
41.0       1
38.0       1
77.0       1
33.0       1
Name: floor, dtype: int64

In [8]:
data['floor'].mode()

0    3.0
dtype: float64

In [9]:
data['floor'] = data['floor'].fillna(data['floor'].mode())

In [10]:
data['max_floor'].value_counts()

17.0     4672
9.0      3025
5.0      2267
12.0     2229
14.0     1362
16.0     1146
1.0       973
22.0      745
25.0      735
0.0       550
24.0      396
8.0       307
10.0      284
3.0       278
4.0       278
15.0      239
19.0      220
20.0      204
18.0      195
6.0       148
7.0       116
2.0       100
23.0       94
21.0       57
13.0       56
11.0       54
30.0       42
40.0       25
32.0       17
27.0       17
28.0       10
26.0       10
37.0        7
48.0        7
29.0        6
39.0        4
99.0        3
31.0        3
34.0        3
33.0        3
36.0        2
47.0        2
45.0        2
117.0       1
41.0        1
44.0        1
57.0        1
38.0        1
42.0        1
Name: max_floor, dtype: int64

In [11]:
data['max_floor'].mean()

12.558974113593951

In [12]:
data['max_floor'] = data['max_floor'].fillna(round(data['max_floor'].mode()))

In [13]:
data['material'].unique()

array([nan,  1.,  2.,  4.,  6.,  5.,  3.])

In [14]:
data['material'].value_counts()

1.0    14197
2.0     2993
5.0     1561
4.0     1344
6.0      803
3.0        1
Name: material, dtype: int64

In [15]:
data['material'] = data['material'].fillna(data['material'].mode())

In [16]:
data['build_year'].value_counts()

2014.0    919
2015.0    824
0.0       530
2013.0    464
1970.0    418
         ...
1948.0      1
1904.0      1
71.0        1
20.0        1
1876.0      1
Name: build_year, Length: 119, dtype: int64

In [17]:
data.loc[((data['build_year'] >= 0) & (data['build_year'] < 1900 )), 'build_year'] = None
data.loc[(data['build_year'] > 2022), 'build_year'] = None

In [18]:
data['build_year'].value_counts()

2014.0    919
2015.0    824
2013.0    464
1970.0    418
1969.0    407
         ...
1948.0      1
1906.0      1
1904.0      1
1925.0      1
1911.0      1
Name: build_year, Length: 104, dtype: int64

In [19]:
data['build_year'].mean()

1985.4456358164034

In [20]:
data['build_year'].unique()

array([  nan, 1907., 1980., 2014., 1970., 1982., 2013., 2004., 2003.,
       1957., 1986., 1960., 1995., 1979., 1975., 1987., 1962., 1969.,
       1993., 1996., 1972., 2011., 1965., 2010., 1985., 2006., 1961.,
       1971., 1978., 1966., 1967., 2000., 1964., 1977., 1983., 1968.,
       1974., 2008., 1959., 2007., 1984., 1976., 1997., 1989., 1958.,
       1988., 2012., 1990., 1946., 1917., 2002., 2005., 2001., 1963.,
       1954., 1951., 1981., 1955., 1999., 2009., 1973., 1994., 1998.,
       1992., 1950., 1956., 2015., 1932., 1937., 1938., 1939., 1991.,
       1934., 1935., 1947., 1953., 1933., 2016., 1930., 1912., 1929.,
       1928., 1915., 1936., 1925., 1940., 1943., 1927., 1911., 1924.,
       1952., 2017., 1926., 1931., 1949., 1914., 1910., 1948., 1900.,
       1920., 1904., 1906., 1941., 1905., 2018.])

In [21]:
data['build_year'] = data['build_year'].fillna(round(data['build_year'].mean()))

In [22]:
data['num_room'].value_counts()

2.0     8132
1.0     7602
3.0     4675
4.0      418
5.0       40
0.0       14
6.0        9
8.0        3
10.0       2
7.0        1
19.0       1
9.0        1
17.0       1
Name: num_room, dtype: int64

In [23]:
data['num_room'].unique()

array([nan,  2.,  1.,  3.,  4.,  5.,  6.,  0., 19., 10.,  8.,  7., 17.,
        9.])

In [24]:
data.loc[((data['num_room'] < 0) & (data['num_room'] > 17 )), 'num_room'] = None

In [25]:
data['num_room'] = data['num_room'].fillna(data['num_room'].mode())

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   full_sq                            30471 non-null  int64
 1   life_sq                            24088 non-null  float64
 2   floor                              30304 non-null  float64
 3   max_floor                          20900 non-null  float64
 4   material                           20900 non-null  float64
 5   build_year                         30471 non-null  float64
 6   num_room                           20900 non-null  float64
 7   kitch_sq                           20899 non-null  float64
 8   state                              16912 non-null  float64
 9   area_m                             30471 non-null  float64
 10  raion_popul                        30471 non-null  int64
 11  green_zone_part                    30471 non-null  float64
 12  indust_part                        30471 non-null  float64
 13  preschool_education_centers_raion  30471 non-null  int64
 14  school_education_centers_raion     30471 non-null  int64
 15  hospital_beds_raion                16030 non-null  float64
 16  healthcare_centers_raion           30471 non-null  int64
 17  sport_objects_raion                30471 non-null  int64
 18  additional_education_raion         30471 non-null  int64
 19  shopping_centers_raion             30471 non-null  int64
 20  office_raion                       30471 non-null  int64
 21  ID_metro                           30471 non-null  int64
 22  metro_min_walk                     30446 non-null  float64
 23  kindergarten_km                    30471 non-null  float64
 24  school_km                          30471 non-null  float64
 25  park_km                            30471 non-null  float64
 26  green_zone_km                      30471 non-null  float64
 27  industrial_km                      30471 non-null  float64
 28  water_km                           30471 non-null  float64
 29  mkad_km                            30471 non-null  float64
 30  ttk_km                             30471 non-null  float64
 31  sadovoe_km                         30471 non-null  float64
 32  bulvar_ring_km                     30471 non-null  float64
 33  kremlin_km                         30471 non-null  float64
 34  ts_km                              30471 non-null  float64
 35  big_market_km                      30471 non-null  float64
 36  market_shop_km                     30471 non-null  float64
 37  fitness_km                         30471 non-null  float64
 38  university_km                      30471 non-null  float64
 39  workplaces_km                      30471 non-null  float64
 40  shopping_centers_km                30471 non-null  float64
 41  office_km                          30471 non-null  float64
 42  preschool_km                       30471 non-null  float64
 43  price_doc                          30471 non-null  int64
dtypes: float64(33), int64(11)
memory usage: 10.2 MB

In [27]:
data.head()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,area_m,...,ts_km,big_market_km,market_shop_km,fitness_km,university_km,workplaces_km,shopping_centers_km,office_km,preschool_km,price_doc
0,43,27.0,4.0,17.0,1.0,1985.0,2.0,NaN,NaN,6.407578e+06,...,4.308127,10.814172,1.676258,0.485841,6.715026,0.884350,0.648488,0.637189,0.177975,5850000
1,34,19.0,3.0,NaN,NaN,1985.0,NaN,NaN,NaN,9.589337e+06,...,0.725560,6.910568,3.424716,0.668364,1.852560,0.686252,0.519311,0.688796,0.273345,6000000
2,43,29.0,2.0,NaN,NaN,1985.0,NaN,NaN,NaN,4.808270e+06,...,3.562188,5.752368,1.375443,0.733101,0.841254,1.510089,1.486533,1.543049,0.158072,5700000
3,89,50.0,9.0,NaN,NaN,1985.0,NaN,NaN,NaN,1.258354e+07,...,0.583025,27.892717,0.811275,0.623484,10.903161,0.622272,0.599914,0.934273,0.236455,13100000
4,77,77.0,4.0,NaN,NaN,1985.0,NaN,NaN,NaN,8.398461e+06,...,2.609420,9.155057,1.969738,0.220288,0.991683,0.892668,0.429052,0.077901,0.376838,16331452

In [28]:
data['kitch_sq'].value_counts()

1.0     4854
8.0     2678
5.0     2594
6.0     2298
10.0    2241
        ...
26.0       1
44.0       1
36.0       1
65.0       1
78.0       1
Name: kitch_sq, Length: 74, dtype: int64