# Домашнее задание к лекции "Поиск выбросов и генерация новых признаков" обновленное

Задачи:

Взять датасет

Провести EDA с упором на пропущенные значения и выбросы

Обучить простую модель несколько раз (см. ниже) и сравнить качество.

При обучении модели постепенно фильтровать выбросы и заполнять пропуски. При фильтрации выбросов и заполнении пропусков при необходимости обосновывать выбранные методы.

Сгенерировать не менее новых 5 признаков (генерация с помощью PolynomialFeatures считать как один признак) и обучить модель после каждого добавления нового признака для контроля качества.

Построить изменения качества график качества модели на каждом шаге (после обработки каждого признака и после каждого добавления нового признака)

Используйте столбцы
[‘full_sq’, ‘life_sq’, ‘floor’, ‘max_floor’, ‘material’, ‘build_year’, ‘num_room’, ‘kitch_sq’, ‘state’, ‘area_m’, ‘raion_popul’, ‘green_zone_part’, ‘indust_part’, ‘preschool_education_centers_raion’, ‘school_education_centers_raion’, ‘hospital_beds_raion’, ‘healthcare_centers_raion’, ‘sport_objects_raion’, ‘additional_education_raion’, ‘shopping_centers_raion’, ‘office_raion’, ‘ID_metro’, ‘metro_min_walk’, ‘kindergarten_km’, ‘school_km’, ‘park_km’, ‘green_zone_km’, ‘industrial_km’, ‘water_km’, ‘mkad_km’, ‘ttk_km’, ‘sadovoe_km’, ‘bulvar_ring_km’, ‘kremlin_km’, ‘ts_km’, ‘big_market_km’,‘market_shop_km’, ‘fitness_km’, ‘university_km’, ‘workplaces_km’, ‘shopping_centers_km’, ‘office_km’, ‘additional_education_raion’, ‘preschool_km’, ‘price_doc’

In [1]:
%matplotlib inline
import numpy as np
from sklearn.covariance import EllipticEnvelope
from sklearn.svm import OneClassSVM
import matplotlib.pyplot as plt
import matplotlib.font_manager
from sklearn.datasets import load_wine
from sklearn import svm
import numpy as np
from sklearn.ensemble import IsolationForest
import pandas as pd
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import warnings

In [30]:
data = pd.read_csv('C:/Users/User/Desktop/ФГУП НТЦ РХБГ 2022/Другое/Data Science 2022/HW/Python/ML/HW8/train.csv', usecols=['full_sq', 'life_sq', 'floor', 'max_floor', 'material', 'build_year', 'num_room', 'kitch_sq',
'state', 'area_m', 'raion_popul', 'green_zone_part', 'indust_part', 'preschool_education_centers_raion',
'school_education_centers_raion', 'hospital_beds_raion', 'healthcare_centers_raion', 'sport_objects_raion',
'additional_education_raion', 'shopping_centers_raion', 'office_raion', 'ID_metro', 'metro_min_walk', 'kindergarten_km',
'school_km', 'park_km', 'green_zone_km', 'industrial_km', 'water_km', 'mkad_km', 'ttk_km', 'sadovoe_km', 'bulvar_ring_km',
'kremlin_km', 'ts_km', 'big_market_km','market_shop_km', 'fitness_km', 'university_km', 'workplaces_km', 'shopping_centers_km',
'office_km', 'additional_education_raion', 'preschool_km', 'price_doc'])

col = ['full_sq', 'life_sq', 'floor', 'max_floor', 'material', 'build_year', 'num_room', 'kitch_sq',
'state', 'area_m', 'raion_popul', 'green_zone_part', 'indust_part', 'preschool_education_centers_raion',
'school_education_centers_raion', 'hospital_beds_raion', 'healthcare_centers_raion', 'sport_objects_raion',
'additional_education_raion', 'shopping_centers_raion', 'office_raion', 'ID_metro', 'metro_min_walk', 'kindergarten_km',
'school_km', 'park_km', 'green_zone_km', 'industrial_km', 'water_km', 'mkad_km', 'ttk_km', 'sadovoe_km', 'bulvar_ring_km',
'kremlin_km', 'ts_km', 'big_market_km','market_shop_km', 'fitness_km', 'university_km', 'workplaces_km', 'shopping_centers_km',
'office_km', 'additional_education_raion', 'preschool_km']

data.head()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,area_m,...,ts_km,big_market_km,market_shop_km,fitness_km,university_km,workplaces_km,shopping_centers_km,office_km,preschool_km,price_doc
0,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,6.407578e+06,...,4.308127,10.814172,1.676258,0.485841,6.715026,0.884350,0.648488,0.637189,0.177975,5850000
1,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,9.589337e+06,...,0.725560,6.910568,3.424716,0.668364,1.852560,0.686252,0.519311,0.688796,0.273345,6000000
2,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.808270e+06,...,3.562188,5.752368,1.375443,0.733101,0.841254,1.510089,1.486533,1.543049,0.158072,5700000
3,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,1.258354e+07,...,0.583025,27.892717,0.811275,0.623484,10.903161,0.622272,0.599914,0.934273,0.236455,13100000
4,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,8.398461e+06,...,2.609420,9.155057,1.969738,0.220288,0.991683,0.892668,0.429052,0.077901,0.376838,16331452

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   full_sq                            30471 non-null  int64
 1   life_sq                            24088 non-null  float64
 2   floor                              30304 non-null  float64
 3   max_floor                          20899 non-null  float64
 4   material                           20899 non-null  float64
 5   build_year                         16866 non-null  float64
 6   num_room                           20899 non-null  float64
 7   kitch_sq                           20899 non-null  float64
 8   state                              16912 non-null  float64
 9   area_m                             30471 non-null  float64
 10  raion_popul                        30471 non-null  int64
 11  green_zone_part                    30471 non-null  float64
 12  indust_part                        30471 non-null  float64
 13  preschool_education_centers_raion  30471 non-null  int64
 14  school_education_centers_raion     30471 non-null  int64
 15  hospital_beds_raion                16030 non-null  float64
 16  healthcare_centers_raion           30471 non-null  int64
 17  sport_objects_raion                30471 non-null  int64
 18  additional_education_raion         30471 non-null  int64
 19  shopping_centers_raion             30471 non-null  int64
 20  office_raion                       30471 non-null  int64
 21  ID_metro                           30471 non-null  int64
 22  metro_min_walk                     30446 non-null  float64
 23  kindergarten_km                    30471 non-null  float64
 24  school_km                          30471 non-null  float64
 25  park_km                            30471 non-null  float64
 26  green_zone_km                      30471 non-null  float64
 27  industrial_km                      30471 non-null  float64
 28  water_km                           30471 non-null  float64
 29  mkad_km                            30471 non-null  float64
 30  ttk_km                             30471 non-null  float64
 31  sadovoe_km                         30471 non-null  float64
 32  bulvar_ring_km                     30471 non-null  float64
 33  kremlin_km                         30471 non-null  float64
 34  ts_km                              30471 non-null  float64
 35  big_market_km                      30471 non-null  float64
 36  market_shop_km                     30471 non-null  float64
 37  fitness_km                         30471 non-null  float64
 38  university_km                      30471 non-null  float64
 39  workplaces_km                      30471 non-null  float64
 40  shopping_centers_km                30471 non-null  float64
 41  office_km                          30471 non-null  float64
 42  preschool_km                       30471 non-null  float64
 43  price_doc                          30471 non-null  int64
dtypes: float64(33), int64(11)
memory usage: 10.2 MB

Посмотрим как будет работать модель с имеющимися данными

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [42]:
score_list = [] 

model = LinearRegression()

data1 = data.dropna() 
X = data1[['full_sq', 'life_sq', 'floor', 'max_floor', 'material', 'build_year', 'num_room', 'kitch_sq',
'state', 'area_m', 'raion_popul', 'green_zone_part', 'indust_part', 'preschool_education_centers_raion',
'school_education_centers_raion', 'hospital_beds_raion', 'healthcare_centers_raion', 'sport_objects_raion',
'additional_education_raion', 'shopping_centers_raion', 'office_raion', 'ID_metro', 'metro_min_walk', 'kindergarten_km',
'school_km', 'park_km', 'green_zone_km', 'industrial_km', 'water_km', 'mkad_km', 'ttk_km', 'sadovoe_km', 'bulvar_ring_km',
'kremlin_km', 'ts_km', 'big_market_km','market_shop_km', 'fitness_km', 'university_km', 'workplaces_km', 'shopping_centers_km',
'office_km', 'additional_education_raion', 'preschool_km']]

y = data1['price_doc']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

model.fit(X_train, y_train)

score = model.score(X_test, y_test)

score_list.append(score)

score

0.5086735203503252

Попробуем убрать выбросы

In [47]:
columns = ['full_sq', 'life_sq', 'floor', 'max_floor', 'material', 'build_year', 'num_room', 'kitch_sq',
'state', 'area_m', 'raion_popul', 'green_zone_part', 'indust_part', 'preschool_education_centers_raion',
'school_education_centers_raion', 'hospital_beds_raion', 'healthcare_centers_raion', 'sport_objects_raion',
'additional_education_raion', 'shopping_centers_raion', 'office_raion', 'ID_metro', 'metro_min_walk', 'kindergarten_km',
'school_km', 'park_km', 'green_zone_km', 'industrial_km', 'water_km', 'mkad_km', 'ttk_km', 'sadovoe_km', 'bulvar_ring_km',
'kremlin_km', 'ts_km', 'big_market_km','market_shop_km', 'fitness_km', 'university_km', 'workplaces_km', 'shopping_centers_km',
'office_km', 'additional_education_raion', 'preschool_km', 'price_doc']

data2 = data.copy()

for col in columns:
    x1 = data2[col].quantile(0.25) - 1.5*(data2[col].quantile(0.75) - data2[col].quantile(0.25))
    x2 = data2[col].quantile(0.75) + 1.5*(data2[col].quantile(0.75) - data2[col].quantile(0.25))
    data2.loc[((data2[col] > x1) & (data2[col] < x2 )), data2[col]] =  round(data2[col].mean())
    #data2 = data2.loc[(data2[col] > x1) & (data2[col] < x2)]
    
data2 = data.copy()

for col in columns:
    x1 = data2['full_sq'].quantile(0.25) - 1.5*(data2['full_sq'].quantile(0.75))
    x2 = data2['full_sq'].quantile(0.75) + 1.5*(data2['full_sq'].quantile(0.75))
    data2.loc[data2['full_sq'] < x1, 'full_sq'] = round(data2['full_sq'].mode())
    data2.loc[data2['full_sq'] > x2, 'full_sq'] = round(data2['full_sq'].mode())
    data2.loc[data2['full_sq'] < 0, 'full_sq'] = round(data2['full_sq'].mode())
    
data2.head()

KeyboardInterrupt:

In [48]:
data['full_sq'].unique()

array([  43,   34,   89,   77,   67,   25,   44,   42,   36,   38,   31,
         51,   47,   59,   74,   39,   48,   32,   45,   35,   73,   40,
         81,   37,   27,   33,   54,   46,   56,   75,   64,   96,   52,
         63,   50,   76,   66,   30,   53,  133,   72,   41,   26,   58,
         78,   57,   61,  325,   55,   22,   62,  102,  117,   60,   86,
         85,  115,   98,   80,   68,   49,  104,   84,   17,   93,   99,
        144,   83,   20,  154,   79,   71,   28,   70,   23,   90,  100,
        129,  130,   95,  111,  131,  108,   82,  126,  112,  110,   92,
         29,  125,  106,   87,   12,   97,  167,  114,  118,  136,  166,
        120,  123,   65,  183,  155,  101,  204,   88,   94,  107,   13,
        147,   69,  169,  127,    9,   19,  103,  291,   15,  353,  187,
        142,  137,  394,  113,  148,   18,    5,  134,  173,  412,  105,
        178,  119,  138,  729,  156,  139,  164,   21,  172, 5326,  208,
        150,  157,  388,  159,  158,   10,  170,  165,  109,  193,   24,
        181,  140,  179,   91,  210,  143,  634,  116,  121,    6,  211,
        122,  206,  149,  124,  461,  185,  146,   14,   11,  141,  226,
        160,  132,    1,  202,   16,  135,  215,  174,  153,  303,  189,
        186,  220,  161,  219,    0,  168,  275,  209,  177,  145,  128,
        184,  182,  197,  176,  151,  637,  603,  218,  216,  207,  199,
        407,  195], dtype=int64)

In [103]:
data2 = data.copy()

x1 = data2['full_sq'].quantile(0.25) - 1.5*(data2['full_sq'].quantile(0.75))
x2 = data2['full_sq'].quantile(0.75) + 1.5*(data2['full_sq'].quantile(0.75))
data2.loc[data2['full_sq'] < x1, 'full_sq'] = round(data2['full_sq'].mode())
data2.loc[data2['full_sq'] > x2, 'full_sq'] = round(data2['full_sq'].mode())
data2.loc[data2['full_sq'] < 0, 'full_sq'] = round(data2['full_sq'].mode())

In [104]:
x1

-56.5

In [105]:
x2

157.5

In [106]:
round(data2['full_sq'].mode())

0    38.0
dtype: float64

In [107]:
data2['full_sq'].unique()

array([ 43.,  34.,  89.,  77.,  67.,  25.,  44.,  42.,  36.,  38.,  31.,
        51.,  47.,  59.,  74.,  39.,  48.,  32.,  45.,  35.,  73.,  40.,
        81.,  37.,  27.,  33.,  54.,  46.,  56.,  75.,  64.,  96.,  52.,
        63.,  50.,  76.,  66.,  30.,  53., 133.,  72.,  41.,  26.,  58.,
        78.,  57.,  61.,  nan,  55.,  22.,  62., 102., 117.,  60.,  86.,
        85., 115.,  98.,  80.,  68.,  49., 104.,  84.,  17.,  93.,  99.,
       144.,  83.,  20., 154.,  79.,  71.,  28.,  70.,  23.,  90., 100.,
       129., 130.,  95., 111., 131., 108.,  82., 126., 112., 110.,  92.,
        29., 125., 106.,  87.,  12.,  97., 114., 118., 136., 120., 123.,
        65., 155., 101.,  88.,  94., 107.,  13., 147.,  69., 127.,   9.,
        19., 103.,  15., 142., 137., 113., 148.,  18.,   5., 134., 105.,
       119., 138., 156., 139.,  21., 150., 157.,  10., 109.,  24., 140.,
        91., 143., 116., 121.,   6., 122., 149., 124., 146.,  14.,  11.,
       141., 132.,   1.,  16., 135., 153.,   0., 145., 128., 151.])

In [109]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   full_sq                            30333 non-null  float64
 1   life_sq                            24088 non-null  float64
 2   floor                              30304 non-null  float64
 3   max_floor                          20899 non-null  float64
 4   material                           20899 non-null  float64
 5   build_year                         16866 non-null  float64
 6   num_room                           20899 non-null  float64
 7   kitch_sq                           20899 non-null  float64
 8   state                              16912 non-null  float64
 9   area_m                             30471 non-null  float64
 10  raion_popul                        30471 non-null  int64
 11  green_zone_part                    30471 non-null  float64
 12  indust_part                        30471 non-null  float64
 13  preschool_education_centers_raion  30471 non-null  int64
 14  school_education_centers_raion     30471 non-null  int64
 15  hospital_beds_raion                16030 non-null  float64
 16  healthcare_centers_raion           30471 non-null  int64
 17  sport_objects_raion                30471 non-null  int64
 18  additional_education_raion         30471 non-null  int64
 19  shopping_centers_raion             30471 non-null  int64
 20  office_raion                       30471 non-null  int64
 21  ID_metro                           30471 non-null  int64
 22  metro_min_walk                     30446 non-null  float64
 23  kindergarten_km                    30471 non-null  float64
 24  school_km                          30471 non-null  float64
 25  park_km                            30471 non-null  float64
 26  green_zone_km                      30471 non-null  float64
 27  industrial_km                      30471 non-null  float64
 28  water_km                           30471 non-null  float64
 29  mkad_km                            30471 non-null  float64
 30  ttk_km                             30471 non-null  float64
 31  sadovoe_km                         30471 non-null  float64
 32  bulvar_ring_km                     30471 non-null  float64
 33  kremlin_km                         30471 non-null  float64
 34  ts_km                              30471 non-null  float64
 35  big_market_km                      30471 non-null  float64
 36  market_shop_km                     30471 non-null  float64
 37  fitness_km                         30471 non-null  float64
 38  university_km                      30471 non-null  float64
 39  workplaces_km                      30471 non-null  float64
 40  shopping_centers_km                30471 non-null  float64
 41  office_km                          30471 non-null  float64
 42  preschool_km                       30471 non-null  float64
 43  price_doc                          30471 non-null  int64
dtypes: float64(34), int64(10)
memory usage: 10.2 MB

In [52]:

data2 = data.copy()

x1 = data2['full_sq'].quantile(0.25) - 1.5*(data2['full_sq'].quantile(0.75) - data2['full_sq'].quantile(0.25))
x2 = data2['full_sq'].quantile(0.75) + 1.5*(data2['full_sq'].quantile(0.75) - data2['full_sq'].quantile(0.25))
data2 = data2.loc[(data2['full_sq'] > x1) & (data2['full_sq'] < x2)]

In [91]:
data2['full_sq'].unique()

array([ 43.,  34.,  89.,  77.,  67.,  25.,  44.,  42.,  36.,  38.,  31.,
        51.,  47.,  59.,  74.,  39.,  48.,  32.,  45.,  35.,  73.,  40.,
        81.,  37.,  27.,  33.,  54.,  46.,  56.,  75.,  64.,  96.,  52.,
        63.,  50.,  76.,  66.,  30.,  53.,  nan,  72.,  41.,  26.,  58.,
        78.,  57.,  61.,  55.,  22.,  62.,  60.,  86.,  85.,  98.,  80.,
        68.,  49.,  84.,  17.,  93.,  99.,  83.,  20.,  79.,  71.,  28.,
        70.,  23.,  90., 100.,  95.,  82.,  92.,  29.,  87.,  12.,  97.,
        65.,  88.,  94.,  13.,  69.,   9.,  19.,  15.,  18.,   5.,  21.,
        10.,  24.,  91.,   6.,  14.,  11.,   1.,  16.])

In [73]:
data2.head()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,area_m,...,176,151,637,603,218,216,207,199,407,195
0,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,6.407578e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,9.589337e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.808270e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,1.258354e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,8.398461e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from tqdm.notebook import trange, tqdm

In [10]:
from sklearn.ensemble import RandomForestRegressor

In [24]:
pr = ['life_sq', 'floor', 'max_floor', 'material', 'build_year', 'num_room', 
'kitch_sq', 'state', 'hospital_beds_raion', 'metro_min_walk']
cols = ['full_sq', 'area_m', 'raion_popul', 'green_zone_part', 'indust_part', 'preschool_education_centers_raion',
'school_education_centers_raion', 'healthcare_centers_raion', 'sport_objects_raion',
'additional_education_raion', 'shopping_centers_raion', 'office_raion', 'ID_metro', 'kindergarten_km',
'school_km', 'park_km', 'green_zone_km', 'industrial_km', 'water_km', 'mkad_km', 'ttk_km', 'sadovoe_km', 'bulvar_ring_km',
'kremlin_km', 'ts_km', 'big_market_km','market_shop_km', 'fitness_km', 'university_km', 'workplaces_km', 'shopping_centers_km',
'office_km', 'additional_education_raion', 'preschool_km', 'price_doc']
data2 = data.copy()
ind = data2[data2[pr].isna()].index
data2 = data2.fillna(data2[pr].mean())


for i in trange(10):
    rf = RandomForestRegressor(max_depth=5).fit(data2[cols], data2[pr])
    data2.loc[ind, pr] = rf.predict(data2.loc[ind, cols])
    
    
data2.head()

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10.0), HTML(value='')))

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,area_m,...,ts_km,big_market_km,market_shop_km,fitness_km,university_km,workplaces_km,shopping_centers_km,office_km,preschool_km,price_doc
0,43,35.419174,7.724316,12.532607,1.838294,2462.600705,1.873582,6.066090,2.020968,6.407578e+06,...,4.308127,10.814172,1.676258,0.485841,6.715026,0.884350,0.648488,0.637189,0.177975,5850000
1,34,35.419174,7.724316,12.532607,1.838294,2462.600705,1.873582,6.066090,2.020968,9.589337e+06,...,0.725560,6.910568,3.424716,0.668364,1.852560,0.686252,0.519311,0.688796,0.273345,6000000
2,43,32.438541,7.366330,12.581044,1.751334,2360.962056,1.928199,6.773643,2.227920,4.808270e+06,...,3.562188,5.752368,1.375443,0.733101,0.841254,1.510089,1.486533,1.543049,0.158072,5700000
3,89,34.894830,8.122932,12.983020,1.772508,2369.142178,1.959492,6.726169,2.166520,1.258354e+07,...,0.583025,27.892717,0.811275,0.623484,10.903161,0.622272,0.599914,0.934273,0.236455,13100000
4,77,34.870009,6.544251,11.483769,2.099649,2358.157914,2.011358,7.410168,2.254778,8.398461e+06,...,2.609420,9.155057,1.969738,0.220288,0.991683,0.892668,0.429052,0.077901,0.376838,16331452

In [25]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   full_sq                            30471 non-null  int64
 1   life_sq                            30471 non-null  float64
 2   floor                              30471 non-null  float64
 3   max_floor                          30471 non-null  float64
 4   material                           30471 non-null  float64
 5   build_year                         30471 non-null  float64
 6   num_room                           30471 non-null  float64
 7   kitch_sq                           30471 non-null  float64
 8   state                              30471 non-null  float64
 9   area_m                             30471 non-null  float64
 10  raion_popul                        30471 non-null  int64
 11  green_zone_part                    30471 non-null  float64
 12  indust_part                        30471 non-null  float64
 13  preschool_education_centers_raion  30471 non-null  int64
 14  school_education_centers_raion     30471 non-null  int64
 15  hospital_beds_raion                30471 non-null  float64
 16  healthcare_centers_raion           30471 non-null  int64
 17  sport_objects_raion                30471 non-null  int64
 18  additional_education_raion         30471 non-null  int64
 19  shopping_centers_raion             30471 non-null  int64
 20  office_raion                       30471 non-null  int64
 21  ID_metro                           30471 non-null  int64
 22  metro_min_walk                     30471 non-null  float64
 23  kindergarten_km                    30471 non-null  float64
 24  school_km                          30471 non-null  float64
 25  park_km                            30471 non-null  float64
 26  green_zone_km                      30471 non-null  float64
 27  industrial_km                      30471 non-null  float64
 28  water_km                           30471 non-null  float64
 29  mkad_km                            30471 non-null  float64
 30  ttk_km                             30471 non-null  float64
 31  sadovoe_km                         30471 non-null  float64
 32  bulvar_ring_km                     30471 non-null  float64
 33  kremlin_km                         30471 non-null  float64
 34  ts_km                              30471 non-null  float64
 35  big_market_km                      30471 non-null  float64
 36  market_shop_km                     30471 non-null  float64
 37  fitness_km                         30471 non-null  float64
 38  university_km                      30471 non-null  float64
 39  workplaces_km                      30471 non-null  float64
 40  shopping_centers_km                30471 non-null  float64
 41  office_km                          30471 non-null  float64
 42  preschool_km                       30471 non-null  float64
 43  price_doc                          30471 non-null  int64
dtypes: float64(33), int64(11)
memory usage: 10.2 MB

In [39]:
X = data2[col]
X.head()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,area_m,...,ts_km,big_market_km,market_shop_km,fitness_km,university_km,workplaces_km,shopping_centers_km,office_km,additional_education_raion,preschool_km
0,43,35.419174,7.724316,12.532607,1.838294,2462.600705,1.873582,6.066090,2.020968,6.407578e+06,...,4.308127,10.814172,1.676258,0.485841,6.715026,0.884350,0.648488,0.637189,3,0.177975
1,34,35.419174,7.724316,12.532607,1.838294,2462.600705,1.873582,6.066090,2.020968,9.589337e+06,...,0.725560,6.910568,3.424716,0.668364,1.852560,0.686252,0.519311,0.688796,1,0.273345
2,43,32.438541,7.366330,12.581044,1.751334,2360.962056,1.928199,6.773643,2.227920,4.808270e+06,...,3.562188,5.752368,1.375443,0.733101,0.841254,1.510089,1.486533,1.543049,1,0.158072
3,89,34.894830,8.122932,12.983020,1.772508,2369.142178,1.959492,6.726169,2.166520,1.258354e+07,...,0.583025,27.892717,0.811275,0.623484,10.903161,0.622272,0.599914,0.934273,6,0.236455
4,77,34.870009,6.544251,11.483769,2.099649,2358.157914,2.011358,7.410168,2.254778,8.398461e+06,...,2.609420,9.155057,1.969738,0.220288,0.991683,0.892668,0.429052,0.077901,2,0.376838

In [40]:
y = data2['price_doc']
y.head()

0     5850000
1     6000000
2     5700000
3    13100000
4    16331452
Name: price_doc, dtype: int64

In [41]:
model = LinearRegression()
    
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

model.fit(X_train, y_train)

score = model.score(X_test, y_test)

score_list.append(score)

score

0.3286868272447496