# Домашнее задание «Деревья решений»
Для выполнения домашнего задания необходимо взять файл boston house-prices datase (sklearn.datasets.load_boston) и построить модель.

По аналогии задания к лекции «Классификация: Логистическая регрессия и SVM».

А именно построить модель регрессии, дерево решений, оптимизировать параметры и сравнить результаты.

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
import warnings
from sklearn.datasets import load_boston

In [8]:
boston = load_boston()
data = pd.read_csv(load_boston()['filename'], skiprows=1)
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [9]:
X = data[data.columns[:-1]]
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [10]:
y = data['MEDV']
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

Линейная регрессия

In [12]:
model = LinearRegression()
    
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42 )  
model.fit(X_train, y_train)
    
model.score(X_test, y_test)

0.711226005748496

Дерево

In [35]:
def get_score(X, y, max_depth=None, min_samples_leaf=1):
    if max_depth is None:
        model = DecisionTreeRegressor(min_samples_leaf=min_samples_leaf)
    
    else:
        model = DecisionTreeRegressor(max_depth=max_depth, min_samples_leaf=min_samples_leaf)
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42 )  
    model.fit(X_train, y_train)
    
    return model.score(X_test, y_test)

get_score(X, y)

0.8515149738036157

Как мы видим, качество у дерева выше. Попробуем поиграть с глубиной и количеством листов, чтобы улучшить качество.

In [43]:
for depth in range(1,20):
    print(depth, "-", get_score(X, y, max_depth = depth))

1 - 0.4158767119483332
2 - 0.6758436094969433
3 - 0.7728151817263731
4 - 0.8078053530077094
5 - 0.8507359013244258
6 - 0.7529781088428824
7 - 0.8611084556021109
8 - 0.8050974912042208
9 - 0.8621920169038455
10 - 0.8571758044943182
11 - 0.8597787195276658
12 - 0.7427309467359537
13 - 0.8485974688003225
14 - 0.7274880544251275
15 - 0.8454332372662874
16 - 0.8355184722995013
17 - 0.7844711423404259
18 - 0.8474994309780829
19 - 0.8390966339089105

In [44]:
for leaf in range(1,10):
    print(leaf, "-", get_score(X, y, None, leaf))

1 - 0.7838714420330473
2 - 0.7986412073647013
3 - 0.8317806838943815
4 - 0.8143668344211069
5 - 0.7675718780515656
6 - 0.7679302756789522
7 - 0.7926569746010521
8 - 0.7831942599039615
9 - 0.7878999654957699

Лучших результатов удалось добиться при max_depth=9, min_samples_leaf=3

In [48]:
get_score(X, y, max_depth=9, min_samples_leaf=3)

0.8461725920244988

Качество почти в 85% - вполне неплохой результат и обгоняет линейную регрессию почти на 15 %